/* Font Imports */
@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkB_XvYC6trAT7RQNNK2EG7SIwPWMNnCVytER0IPh7KX59Z0inOKbGkv.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkB_XvYC6trAT7RQNNK2EG7SIwPWMNnCVytER0IPh7KX59Z0inOKbGkv.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/karla/v22/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lilitaone/v15/i7dPIFZ9Zz-WBtRtedDbYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Styles */

html {
    scroll-padding-top: 8em;
    font-size: 10px;
    font-family: Karla, serif;
}

body {
    display: flex;
    align-items: center;
    background-image: url(resources/PurpleSquares.png);
    background-repeat: repeat;
    background-size: 290px;
    background-attachment: fixed;
    text-align: center;
    margin-top: 11.4rem;
    flex-direction: column;
    margin-bottom: -5px;
}

.body-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    column-gap: 3rem;
    align-items: flex-start;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 1.7rem;
    row-gap: 1rem;
}

.main-container p {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.55rem;
}

.info {
    border: 2px dashed #827188;
    border-radius: 10px;
    width: 350px;
    height: 100%;
}

h3 {
    font-size: 3rem;
    margin: 0;
}

h4 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.info h4 {
    margin-top: 1rem;
    text-align: left;
    padding-left: 1.6rem;
    padding-bottom: .8rem;
    border-bottom: 2px dashed #827188;
}

hr {
    width: 75%;
    color: gainsboro;
    opacity: 50%;
}

/* Navigation Bar Styles (Black) */

.nav-container {
    top: 0;
    position: fixed;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C161D;
    margin-top: 0;
    border-bottom: 2px white dashed;
    z-index: 2;
}

.social-container ul {
    display: inline-flex;
    list-style: none;
}

.social-container img {
    width: 3.65rem;
    height: auto;
    padding: .8rem;
    filter: invert(100%) sepia(2%) saturate(831%) hue-rotate(198deg) brightness(122%) contrast(88%);
}

.social-container img:hover {
    width: 3.575rem;
    height: auto;
}

.logo a {
    font-family: 'Lilita One';
    font-size: 4rem;
    color: #ABCCD4;
    margin-left: 1.5rem;
}

/* Navigation Bar Styles (White) */

nav {
    margin-top: 6rem;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    height: 3rem;
    border-top: gray 2px solid;
    border-bottom: gray 2px solid;
    padding-top: .5rem;
    padding-bottom: .5rem;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
}

.menu {
    background-color: transparent;
    border: 0px solid;
    font-weight: 300;
    padding: 0 4rem;
    color: black;
    text-decoration: none;
    font-size: rem;
    font-family: Karla;
    font-size: 2rem;
}

nav a:hover {
    opacity: 100%;
    background-color: #F8F8F8;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 10px;

}

/* Dropdown Styles */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    border-top: 1px solid #AA98A9;
}

a:link,
a:visited {
    text-decoration: none !important;
    color: black;
}

.dropbtn:hover {
    opacity: 100%;
    background-color: #F8F8F8;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 10px;
    font-weight: 500;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Left Side Bar Styles */

.left-container {
    width: 30%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.mobile-left,
.mobile-right {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    grid-row-gap: 2rem;
}

.bar-container,
.main-container {
    background-color: #FAFCFF;
    border-radius: 10px;
    border: #827188 2px dashed;
}

.bar-container h2 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.bar-container p {
    font-size: 1.6rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#date {
    font-style: italic;
}

/* Main Container Universal Styles */

.main-container {
    background-color: #FFFDFF;
    width: 70%
}

/* Art Styles */

.art-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.art {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.artlarge {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.art img {
    width: 25rem;
    
}

/* Pet.html Styles */

.button-bar {
    display: flex;
    justify-content: flex-end;
    column-gap: .8rem;
}

.petrow {
    display: flex;
    column-gap: 1rem;
    justify-content: space-evenly;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.petinfo-container {
    display: flex;
    flex-direction: column;
}

.petinfo-container p {
    margin-bottom: 1rem;
}

.trophies {
    height: 80%;
}

.art-container p {
    margin-top: 1rem;

}
